header {
  width: 100%;
  background-color: #00ff7f;
  align-items: center;
}

body{
  margin: 0;
  padding: 0;
}

.title {
  margin-right: auto;
  margin-top: 0;
}

.title > h1{
  margin: 0;
}

nav{
  margin-left: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.main, .header,.form{
  width: 70%;
  margin: 0 auto;
}

h1{
  border-bottom: 3px solid #00ff7f;
}

ul.menu-group{
  margin-left: auto;
  text-align: right;
}

div.payers{
  display: flex;
  align-items: center;
  text-align: center;
}


select.payer{
    margin-left: auto;
}
select.payee{
    margin-right: auto;
}
.arrow{
    margin: 10px 20px;
}

.button{
    margin-right: 10px
}

.price{
    text-align: center;
    margin: 0;
    margin-top: 20px
}
div.lastRow{
  display: flex;
  align-items: center;
}

label{
  margin-left: auto
}
.form{
    border: 1px solid #000;
    border-radius: 10px
}

.titles{
  border-bottom: 3px solid #00ff7f;
  display: flex;
  align-items: center;
}

#tableName,#proposeName{
  margin: 0 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

#table,#purpose{
  width: 100%;
  overflow-x: scroll;
}
