<!DOCTYPE html>
{% load widget_tweaks %}
{% load django_bootstrap5 %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>はるかな会計アプリ-{{ user.username }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accountsetting/UserSetting.css' %}" type="text/css">
  </head>
  <body>
    <header>
      <div class="header">
        <div class="title">
          <h1>はるかな会計アプリ</h1>
          <h6>logined: {{user.username}}</h6>
        </div>
        <nav class="nav">

          <ul class="menu-group">
            <li class="menu-item"><a class="nav-link" href="{% url 'account_logout' %}">サインアウト</a></li>
            <li class="menu-item"><a class="nav-link" href="{% url 'Accounting:createEvent' %}">イベント作成</a></li>
            <li class="menu-item"><a href="{% url 'Accounting:index' %}">イベント一覧</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="main">
      <div class="mainTitle">
        <h1></h1>
      </div>
      <div class="settings">
        <form method="post" action="{% url 'accountsetting:friend' %}">
            {% if errorText %}
            <p>{{errorText}}</p>
            {% endif %}
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">検索</button>
        </form>
        {% if resultUser %}
          <p>{{resultUser.username}}</p>
          <form action="{% url 'accountsetting:friend' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="makefriends" value="{{resultUser.id}}">フレンド登録</button>
          </form>
        {% endif %}
      </div>
    </div>

  </body>
</html>
